ENV=local

DATABASE_URL=postgresql://user:password@127.0.0.1:5433/app_db

# MinIO S3
S3_ENDPOINT=http://127.0.0.1:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadminpassword
S3_BUCKET_NAME=load-bucket
S3_REGION=us-east-1